
/* @media(max-width: 1680px) {
  header {
    min-height: 0px;
  }
  .first-background {
    height: 250px;
  }
  nav.fixed {
    height: 250px;
  }
    .logo-holder {
      padding-top: 247px;
    }
    
  .logo-holder {
    height: 56.25px;
  }
  .logo {
    width: 600px;
    height: 112.5px;
    margin-top: -56.25px;
    background-size: 600px 788px;
  }
}


@media(max-width: 1280px) {
  header {
    min-height: 0px;
  }
  .first-background {
    height: 200px;
  }
  nav.fixed {
    height: 200px;
  }
    .logo-holder {
      padding-top: 197px;
    }
}

@media(max-width: 860px) {

}


@media(max-width: 700px) 
{


  .logo-holder {
    height: 37.5px;
  }
  .logo {
    width: 400px;
    height: 75px;
    margin-top: -37.5px;
    background-size: 400px 525px;
  }

  header {
    padding-top: 70px;
  }

 h1 {
   font-size: 24px;
 }
 header p {
   font-size: 20px;
 } 


  .step {
    padding: 250px 0 150px
  }
  .instructions, pre {
    float: none;
    width: auto;
  }
  .instructions {
    margin-bottom: 30px;
  }

  .first-background {
    background-image: url(images/background-top-mobile.jpg);
  }
  .step-one {
    background-image: url(images/background-1-mobile.jpg);
  }
  .step-two {
    background-image: url(images/background-2-mobile.jpg);
  }
  .step-three {
    background-image: url(images/background-3-mobile.jpg);
  }
  .step-four {
    background-image: url(images/background-4-mobile.jpg);
  }
  .step-five {
    background-image: url(images/background-5-mobile.jpg);
  }
  footer .illustration-city {
    background-image: url(images/city-mobile.png);
  }
}


@media(max-width: 480px) {
  .top-links .button-github {
    display: none;
  }
  .first-background {
    height: 120px;
  }
  nav.fixed {
    height: 120px;
  }
    .logo-holder {
      padding-top: 118px;
    }

  .logo-holder {
    height: 26.25px;
  }
  .logo {
    width: 280px;
    height: 52.5px;
    margin-top: -26.25px;
    background-image: url(images/logos-mobile.png);
    background-size: 280px 368px;
  }

}

@media(max-width: 320px) {

  .logo-holder {
    height: 22.5px;
  }
  .logo {
    width: 240px;
    height: 45px;
    margin-top: -22.5px;
    background-size: 240px 315px;
  }
 
}*/
