html, body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 160%;
  font-size: 16px;
  color: #cccccc;
}

h1, h3, h4, h5, h6 {
  font-weight: 300;
  font-style: italic;
  margin-top: 0;
}
h1 {
  line-height: 140%;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  color: #1E2734;
}

.spi {
  max-width: 980px;
  padding: 0px 30px;
  margin: 0 auto;
}
.spi:before,
.spi:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.spi:after {
    clear: both;
}
.spi {
    zoom: 1; /* IE < 8 */
  }

.screenreader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.container 
{
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  width: 95%;
  margin: 0 auto ;
  height: auto ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 85px;
  grid-row-gap: 70px; 
}

/* Nav & Midnight */
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  height: 300px;
  pointer-events: none;
}
  .logo-holder {
    margin: 60px auto 0px auto;
    height: 75px;
    padding-top: 295px;
  }
  .logo {
    display: block;
    width: 800px;
    height: 150px;
    padding: 0;
    margin: 0px auto;
    margin-top: -75px;
    background: url(images/logos.png) no-repeat -0px -150px;
    background-size: 800px 1050px;
  }

  
@media(max-width: 700px) 
{
 
  .logo-holder {
      padding-top: 118px;
      height: 22.5;
    }
    
  .logo {
    width: 240px;
    height: 45px;
    margin-top: -22.5px;
    background-image: url(images/logos-mobile.png);
    background-size: 240px 315px;
  }

  .first-background {
    background-image: url(images/background-top-mobile.jpg);
  }
  .step-one {
    background-image: url(images/background-1-mobile.jpg);
  }
  .step-two {
    background-image: url(images/background-2-mobile.jpg);
  }
  .step-three {
    background-image: url(images/background-3-mobile.jpg);
  }
  .step-four {
    background-image: url(images/background-4-mobile.jpg);
  }
  .step-five {
    background-image: url(images/background-5-mobile.jpg);
  }
  footer .illustration-city {
    background-image: url(images/city-mobile.png);
  }

  .top-links .button-github {
    display: none;
  }
  .first-background {
    height: 120px;
  }
  nav.fixed {
    height: 120px;
  }

  .card
  {
    width: 50px ;
    height: 73px;
  }
  #a-1 .content
{
  background: linear-gradient(0deg, #ff0000, transparent);
}
}

.midnightHeader.white .logo {
  background-position: -0px 0%;
}
.midnightHeader.default .logo,
.midnightHeader.black .logo {
  background-position: -0px 16.67%;
}
.midnightHeader.blue .logo {
  background-position: -0px 33.33%;
}
.midnightHeader.light .logo {
  background-position: -0px 50.00%;
}
.midnightHeader.dark .logo {
  background-position: -0px 66.67%;
}
.midnightHeader.lighter .logo {
  background-position: -0px 83.33%;
}
.midnightHeader.full .logo {
  background-position: -0px 100%;
}


header, footer 
{
  padding: 1px 0;
  overflow: hidden;
}

.first-background {
  background: url(images/background-top.jpg) no-repeat 50% 50%;
  background-color: #151D28;
  background-size: cover;
  height: 300px;
}
.step-one {
  background: url(images/background-1.png) no-repeat 50% 50%;
  background-color: #15212A;
  background-size: cover;
}
.step-two {
  background: url(images/background-2.png) no-repeat 50% 50%;
  background-color: #172B3F;
  background-size: cover;
}
.step-three {
  background: url(images/background-3.png) no-repeat 50% 50%;
  background-color: #193E5A;
  background-size: cover;
}
.step-four {
  background: url(images/background-4.png) no-repeat 50% 50%;
  background-color: #264C68;
  background-size: cover;
}
.step-five {
  background: url(images/background-5.png) no-repeat 50% 50%;
  background-color: #497697;
  background-size: cover;
}


.top-links {
  background: #171922;
  padding: 10px;
  min-height: 40px;
  text-align: center;
}
  .top-links a.button {
    font-size: 14px;
    padding: 5px 20px;
    border: 1px solid #56555F;
    background: #171922;
    color: #56555F;
    font-weight: bold;
    margin: 0px 10px;
  }

.scroll-prompt {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  background: url(images/scroll.png) no-repeat 50% 50%;
  margin: 50px auto 50px auto;
}

footer {
  position: relative;
  min-height: 100vh;
  background: rgb(73,118,151); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(73,118,151,1) 0%, rgba(206,208,204,1) 80%, rgba(206,208,204,1) 80%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,118,151,1)), color-stop(80%,rgba(206,208,204,1)), color-stop(80%,rgba(206,208,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(73,118,151,1) 0%,rgba(206,208,204,1) 80%,rgba(206,208,204,1) 80%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(73,118,151,1) 0%,rgba(206,208,204,1) 80%,rgba(206,208,204,1) 80%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(73,118,151,1) 0%,rgba(206,208,204,1) 80%,rgba(206,208,204,1) 80%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(73,118,151,1) 0%,rgba(206,208,204,1) 80%,rgba(206,208,204,1) 80%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#497697', endColorstr='#ced0cc',GradientType=0 ); /* IE6-9 */
}
  footer .illustration-city {
    padding-top: 50vh;
    background: url(images/city.png) no-repeat 50% 100%;
    min-height: 50vh;
  }
  footer .buttons {
    padding: 0px 0 190px 0;
    text-align: center;
  }
  footer .buttons .button {
    margin: 10px;
  }
  footer .signature {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
  }
    .signature-aerolab {
      display: inline-block;
      width: 117px;
      height: 43px;
      overflow: hidden;
      background: url(images/aerolab-logo.png) no-repeat 50% 50%;
      background-size: 117px 43px;
    }


/* CARD STYLE*/
.container .card
{
  position: relative  ;
  width: 300px;
  height: 440px;
  margin: 0 auto;
  background: #ccc;
  overflow: hidden;
  border-radius : 10px;
}


.container .card:hover
{
  /*transform: translateY(-20px);*/
}

.container .card .img-box
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }

.container .card:hover .img-box
{
  opacity: 0.5; 
}

.container .card:hover .img-box img
{
  width: 100%
}

.container .card .content
{
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.5s;
}

.container .card:hover .content
{
  bottom: 0;
}

#a-1 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#a-2 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#a-3 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#a-4 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#a-5 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#a-6 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#b-1 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#b-2 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#b-3 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#b-4 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#b-5 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#b-6 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#c-1 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#c-2 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#c-3 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#c-4 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#c-5 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#c-6 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#d-1 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#d-2 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#d-3 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#d-4 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#d-5 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#d-6 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#e-1 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#e-2 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#e-3 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#e-4 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#e-5 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}

#e-6 .content
{
  background: linear-gradient(0deg, #3a414c, transparent);
}




.container .card .content h2
{
  margin : 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.container .card .content h2 span
{
  color: #fffebb;
  font-size: 16px;
}

.container .card .content p
{
  margin : 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.container .card .content ul
{
  display: flex;
  margin : 20px 0 0;
  align-items: center;
  justify-content: center;  
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.container .card .content ul li 
{
  list-style: none;
}

.container .card .content ul li a
{
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
  transition: 0.5s ;
}

img
{
  height: 100%;
  width: 100%
}

.gif img{
  height: 300px; 
  width: 300px; 
  margin: 0 auto; 
  margin-top: 300px;
  display: block;
}
@media screen and (max-width: 700px){
  .gif img{
    height: 100px; 
    width: 100px;
  margin: 0 auto; 
  margin-top: 300px;
  display: block;
  }
}