html, body {
  margin: 0;
  padding: 0;
  background-color: #0d6088;
}

#map {
  height: 450px;
  margin-top: 80px;
}

#firstHeading {
  font-size: 20px;
}

#bodyContent a {
  color: red;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
#bodyContent p {
  font-size: 15px;
  max-width: 400px;
}
