@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
/* @-ms-viewport{
  width: device-width;
} */
body{
	background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden;
}
nav{
	font-family: "Exo 2";
	font-size: 60px;	
	text-align: center;
	padding: 60px 0;
	background: rgba(0,0,0,0.2);
}
.container{
	padding-bottom: 0;
}
.container:nth-child(1){
	margin-top: 0;
}
img{
	height: 270px;
	width: 200px;
	border-radius: 10px;
	display: block;
	margin: 0 auto;
	box-shadow: 30px;
}
nav{
	height: 100px;
}
.arrow{
	font-size: 60px;
	color: rgba(255,255,255,0.7);
}
.arrow:hover{
	color: white;
	cursor: pointer;
}
.wrapper{
	margin-left: -200px;
	padding-left: 200px;
	padding-right: 300px;
	margin-right: -300px;
}
.col p{
	padding: 0 20px;
	padding-top: 10px;
}
.col h3{
	padding-left: 20px;
	text-transform: uppercase;
}
@media screen and (max-width: 1000px){
	nav{
		padding: 0;
	}
	.col h3{
		text-align: center;
	}
	.col p{
		text-align: left;
		width: 100%;
		margin: 0 auto;
	}
	body{
		overflow-x: hidden;
	}
}
@media screen and (max-width: 500px){
	.cnt{
		width: 100%;
	}
}
.back{
	position: relative;
	left: -170px;
	top: 150px;
}
.for{
	position: relative;
	right: -1000px;
	bottom: 200px;
}
.wrap{
	background: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100%;
}
.container:nth-child(3){
	padding-top: 20px;
}
.flyer{
	animation: flyani 0.5s ease-in;
}
.col p{
	animation: fadein 2s ease-in;
}
.col h3{
	animation: title 0.5s ease-in;
}
.wrapper{
	transform: translateY(50px);
}
@keyframes flyani{
	from{
		transform: translateX(-500px);
	}
	to{
		transform: translateX(0px);
	}
}
@keyframes title{
	from{ transform: translateY(-500px); }
	to{ transform: translateY(0px); }
} 
@keyframes fadein{
	from{ opacity: 0; }
	to{ opacity: 1; }
}
@keyframes slide{
	0%{ transform: translateX(0px); }
	50%{ transform: translateX(-1000px); }
	100%{ transform: translateX(0px); }
}
@keyframes nothing{
	from{ transform: translateX(0px); }
	to{ transform: translateX(0px); }
}
.gifarea{
	transform: rotateY(180deg);
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-top: 50px;
}
.gif{
	height: 100%;
	width: 100%;
}
.container:nth-child(4){
	background: rgba(255,255,255,1);
}
.sidenav{
	background: rgba(0,0,0,0.4);
	color: white;
	padding-top: 80px;
	width: 70%;
	text-transform: uppercase;
}
.sidenav li, #mobile-links{
	color: white;
}
.sidenav a{
	background: rgba(255,255,255,0.2);
}
#walogo{
	float: left;
	height: 22px;
	width: 22px;
	margin-top: 7px;
	margin-right: 3px;
}
.cnt{
	width: 45%;
	background: rgba(0,0,0,0.7);
}
.contact{
	/* transform: translateY(50px); */
	padding-left: 20px;
}
@media screen and (max-width: 700px){
	.cnt{
		width: 100%;
		background: rgba(0,0,0,0.7);
	}
	.contact{
		margin-top: 20px;
	}
}