.team {
    padding: 130px 0;
}

.team h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;

}

.team h2 span {
    color: #ff9100;
}

.team p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #999999;
    margin: 20px 0 60px;
    padding: 0;
}

.team .box {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all .5s ease-in-out;
}

.team .box .image {
    position: relative;
    height: 100%;
}

.team .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff9100 1%,#56dc1 100%);
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 15;
}

.team .box .image .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    z-index: 20;
    text-decoration: none;
    opacity: 0;
    margin-top: 100px;
    padding: 8px 15px;
    background: #ffffff;
    border-radius: 35px;
    transition: all 0.5s ease-in-out;
}

.team .box .image .social-icons i {
    font-size: 18px;
    padding: 0 7px;
    color: #ff9100;
}

.team .box:hover .overlay {
    opacity: 0.85;
}

.team .box:hover .social-icons {
    margin-top: 0;
    opacity: 1;
}

.team .box h3 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
}

.team .box h4 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #999999;
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 25px;
}

.team .box:hover {
    transform: translateY(-15px);
}
.col-lg-3.col-md-6{
    padding-bottom: 30px;
    padding-top: 30px;
}
.col-lg-2.col-md-6{
    padding-bottom: 30px;
    padding-top: 30px;
}
.col-lg-4.col-md-12{
    padding-bottom: 30px;
    padding-top: 30px;
}