@font-face {
  font-family: 'Microsoft JhengHei UI Light';
  src: url("../fonts/sabo-filled-webfont.woff2") format("woff2"), url("../fonts/sabo-filled-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Microsoft JhengHei UI Light';
  src: url("../fonts/VCR_OSD_MONO_1.woff2") format("woff2"), url("../fonts/VCR_OSD_MONO_1.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body, html, div {
  padding: 0px;
  margin: 0px;
  scroll-snap-type: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Microsoft JhengHei UI Light';
  background-color: #d7f7f4;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

*:not(html, #fixed-wrapper) {
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  will-change: transform; }

#preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  background: #000;
  color: #FFF;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Microsoft JhengHei UI Light';
  z-index: 9999; }

#fixed-wrapper {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px; }

.scroll-adjustment {
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 0;
  left: 0px;
  top: 0px; }

#height-adjustment {
  height: 5000px;
  width: 10px;
  overflow-x: hidden;
  overflow-y: scroll; }

#width-adjustment {
  width: 7000px;
  height: 10px;
  overflow-y: hidden;
  overflow-x: scroll; }

#fixed-header {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999; }
  #fixed-header #header-logo {
    position: absolute;
    left: 40px;
    top: 32px; }
  #fixed-header.mobile {
    transform: scale(1.5);
    -webkit-transform-origin: 100% 0%;
    -webkit-transform: scale(1.5); }
    #fixed-header.mobile #header-logo {
      left: auto;
      top: 3px;
      right: 52%; }
  #fixed-header #mute-btn {
    width: 40px;
    height: 40px;
    top: 0px;
    right: 167px;
    display: block;
    position: absolute;
    background: #000;
    cursor: pointer;
    -webkit-transition: right 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    #fixed-header #mute-btn:hover {
      background: #BE1A71; }
    #fixed-header #mute-btn.no_audio {
      right: 167px; }
    #fixed-header #mute-btn.audio {
      right: 208px; }
    #fixed-header #mute-btn #mute-img {
      pointer-events: none;
      width: 15;
      height: 19px;
      float: right;
      display: block;
      margin-top: 10px;
      margin-right: 8px;
      overflow: hidden;
      background: url("../images/mute.png");
      background-repeat: no-repeat;
      background-position: right 0px center; }
      #fixed-header #mute-btn #mute-img.audio {
        -webkit-animation: play_audio 0.65s steps(3) infinite;
        animation: play_audio 0.65s steps(3) infinite; }
@-webkit-keyframes play_audio {
  from {
    width: 15; }
  to {
    width: 28; } }
@keyframes play_exhaust {
  from {
    width: 15; }
  to {
    width: 28; } }
  #fixed-header #nav {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 208px;
    height: 40px;
    display: block;
    background-color: #000;
    overflow-y: hidden;
    overflow-x: visible;
    text-transform: uppercase;
    font-size: 15px; }
    #fixed-header #nav #nav-toggle {
      cursor: pointer;
      color: #FFF;
      width: 100%;
      display: block;
      line-height: 40px;
      text-indent: 35px; }
      #fixed-header #nav #nav-toggle img {
        pointer-events: none;
        position: relative;
        margin-left: 10px;
        top: 1px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%; }
      #fixed-header #nav #nav-toggle.open {
        color: #000; }
        #fixed-header #nav #nav-toggle.open img {
          transform: rotate(45deg); }
    #fixed-header #nav #open-nav {
      position: absolute;
      top: 40px;
      z-index: 999;
      text-align: left;
      display: block;
      width: 90%;
      margin: 0 auto; }
      #fixed-header #nav #open-nav a {
        pointer-event: none;
        z-index: 10;
        cursor: pointer;
        position: relative;
        display: block;
        line-height: 20px;
        top: 0px;
        left: 0px;
        color: #FFF;
        width: 100%;
        padding: 5px 0px;
        text-decoration: none;
        text-indent: 45px; }
        #fixed-header #nav #open-nav a img {
          opacity: 0;
          margin-left: -13px;
          margin-right: 8px;
          -webkit-transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: opacity 500ms cubic-bezier(0.645, 0.045, 0.355, 1); }
        #fixed-header #nav #open-nav a:hover {
          color: #F761B1 !important; }
          #fixed-header #nav #open-nav a:hover img {
            opacity: 1; }

#car-holder {
  position: absolute;
  transform: translate3d(0, 0, 0);
  z-index: 350;
  bottom: 75px;
  width: 100vw;
  left: -50px; }
  #car-holder #car {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 524px;
    height: 240px; }
  #car-holder #car-body {
    position: absolute;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    -webkit-animation-name: car_loop;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s;
    /* Safari 4.0 - 8.0 */
    animation-name: car_loop;
    animation-duration: 0.1s;
    animation-delay: 0s;
    -webkit-animation-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  #car-holder #exhaust {
    position: absolute;
    top: 67px;
    left: -149px;
    width: 182px;
    height: 122px;
    display: block;
    z-index: 90;
    overflow: hidden;
    background: url("../images/exhaust.png");
    -webkit-animation: play_exhaust 0.35s steps(3) infinite;
    animation: play_exhaust 0.35s steps(3) infinite; }
  #car-holder .car-wheel {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    position: absolute;
    z-index: 100; }
  #car-holder #car-wheel-bk {
    top: 121px;
    left: 100px; }
  #car-holder #car-wheel-ft {
    top: 121px;
    left: 375px; }
  #car-holder .car-dust {
    opacity: 0;
    position: absolute;
    top: 121px;
    left: -97px;
    z-index: 99;
    width: 182px;
    height: 122px;
    display: block;
    overflow: hidden;
    background-position: 0px 0px;
    background: url("../images/dust-sprites-2.png");
    -webkit-animation: play_dirt 0.15s steps(4) infinite;
    animation: play_dirt 0.15s steps(4) infinite; }
  #car-holder .car-dust-bk {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  #car-holder #car-dust-fw-fw {
    left: 243px; }
  #car-holder #car-dust-bk-bk {
    left: 124px; }
  #car-holder #car-dust-fw-bk {
    left: 450px; }
@-webkit-keyframes play_exhaust {
  from {
    background-position: 0px; }
  to {
    background-position: 546px; } }
@keyframes play_exhaust {
  from {
    background-position: 0px; }
  to {
    background-position: 546px; } }
@-webkit-keyframes play_dirt {
  from {
    background-position: 0px; }
  to {
    background-position: 728px; } }
@keyframes play_dirt {
  from {
    background-position: 0px; }
  to {
    background-position: 728px; } }
@-webkit-keyframes car_loop {
  0% {
    top: 0px; }
  50% {
    top: -1px; }
  100% {
    top: 0px; } }
@keyframes car_loop {
  0% {
    top: 0px; }
  50% {
    top: -1px; }
  100% {
    top: 0px; } }
#front-trees {
  position: absolute;
  z-index: 400;
  bottom: 0px;
  height: 350px;
  left: -500px; }
  #front-trees img {
    position: absolute;
    transform: translateZ(0);
    -webkit-transform: translateZ(0); }
  #front-trees #f-tree-1 {
    left: calc(1.4 * 3314px);
    top: 20px; }
  #front-trees #f-tree-2 {
    left: calc(1.4 * 3497px);
    top: 150px; }
  #front-trees #f-tree-3 {
    left: calc(1.4 * 3670px);
    top: 190px; }
  #front-trees #f-tree-4 {
    left: calc(1.4 * 3793px);
    top: 75px; }
  #front-trees #f-tree-5 {
    left: calc(1.4 * 4323px);
    top: 125px; }
  #front-trees #f-tree-7 {
    left: calc(1.4 * 4467px);
    top: 20px; }
  #front-trees #f-tree-8 {
    left: calc(1.4 * 4900px);
    top: 150px; }
  #front-trees #f-tree-9 {
    left: calc(1.4 * 5110px); }
  #front-trees #f-tree-10 {
    left: calc(1.4 * 5347px); }
  #front-trees #f-tree-11 {
    left: calc(1.4 * 6180px);
    top: 125px; }
  #front-trees #f-tree-12 {
    left: calc(1.4 * 6298px);
    top: 20px; }
  #front-trees #f-tree-13 {
    left: calc(1.4 * 6727px);
    top: 20px; }
  #front-trees #f-tree-14 {
    left: calc(1.4 * 6819px);
    top: 100px; }
  #front-trees #f-tree-15 {
    left: calc(1.4 * 6977px); }
  #front-trees #f-tree-16 {
    left: calc(1.4 * 7187px);
    top: 50px; }
  #front-trees #f-tree-17 {
    left: calc(1.4 * 7453px); }
  #front-trees #f-tree-18 {
    left: calc(1.4 * 7644px);
    top: 50px; }
  #front-trees #f-tree-19 {
    left: calc(1.4 * 7955px);
    top: 200px; }
  #front-trees #f-tree-20 {
    left: calc(1.4 * 8157px);
    top: 20px; }
  #front-trees #f-tree-21 {
    left: calc(1.4 * 8245px);
    top: 175px; }
  #front-trees #f-tree-22 {
    left: calc(1.4 * 8515px);
    top: 50px; }
  #front-trees #f-tree-23 {
    left: calc(1.4 * 8844px);
    top: 75px; }
  #front-trees #f-tree-24 {
    left: calc(1.4 * 9092px);
    top: 150px; }
  #front-trees #f-tree-25 {
    left: calc(1.4 * 9272px);
    top: 20px; }
  #front-trees #f-tree-26 {
    left: calc(1.4 * 9450px);
    top: 100px; }
  #front-trees #f-tree-27 {
    left: calc(1.4 * 9720px);
    top: 125px; }
  #front-trees #f-tree-28 {
    left: calc(1.4 * 9942px);
    top: 125px; }
  #front-trees #f-tree-29 {
    left: calc(1.4 * 10200px);
    top: 30px; }
  #front-trees #f-tree-30 {
    left: calc(1.4 * 10501px);
    top: 175px; }
  #front-trees #f-tree-31 {
    left: calc(1.4 * 10673px);
    top: 150px; }
  #front-trees #f-tree-32 {
    left: calc(1.4 * 11352px);
    top: 200px; }
  #front-trees #f-tree-33 {
    left: calc(1.4 * 12061px);
    top: 180px; }
  #front-trees #f-tree-34 {
    left: calc(1.4 * 12424px);
    top: 125px; }
  #front-trees #f-tree-35 {
    left: calc(1.4 * 12616px);
    top: 150px; }

#top-content {
  position: absolute;
  z-index: 900;
  top: 0px;
  left: 0px;
  pointer-events: none; }
  #top-content #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100vw;
    height: 60vh; }
    #top-content #logo #logo-image {
      position: relative;
      display: block;
      margin: 0px auto; }
    /*#top-content #logo #scroll-block {
      pointer-events: all;
      cursor: pointer;
      position: relative;
      display: block;
      width: 325px;
      height: 100px;
      text-transform: uppercase;
      font-size: 33px;
      color: white;
      background-color: #BE1A71;
      line-height: 66px;
      text-align: center;
      -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    */  #top-content #logo #scroll-block #scroll-arrow {
        display: block;
        width: 13px;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        transform: rotate(90deg);
        margin-left: 50%;
        margin-right: 50%;
        -webkit-animation-fill-mode: forwards;
        /* Safari 4.0 - 8.0 */
        animation-fill-mode: forwards;
        -webkit-animation-name: arrow_loop;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-delay: 0s;
        /* Safari 4.0 - 8.0 */
        animation-name: arrow_loop;
        animation-duration: 1s;
        animation-delay: 0s;
        -webkit-animation-animation-iteration-count: infinite;
        animation-iteration-count: infinite; }
      #top-content #logo #scroll-block:hover {
        background-color: #000; }
@-webkit-keyframes arrow_loop {
  0% {
    margin-top: -10px; }
  50% {
    margin-top: -5px; }
  100% {
    margin-top: -10px; } }
@keyframes arrow_loop {
  0% {
    margin-top: -10px; }
  50% {
    margin-top: -5px; }
  100% {
    margin-top: -10px; } }
  #top-content img {
    position: absolute; }
  #top-content .photo-set div {
    position: absolute; }
  #top-content .photo {
    pointer-events: all;
    display: block;
    cursor: pointer; }
    #top-content .photo img {
      width: 100%;
      height: 100%;
      padding: 8px;
      display: block;
      position: absolute;
      background-color: #FFF;
      pointer-events: none; }
    #top-content .photo .expand-icon {
      pointer-events: none;
      z-index: 100;
      position: absolute;
      bottom: 0px;
      left: 15px;
      width: 19px;
      height: 20px;
      background: url("../images/expand_photo.png"); }
    #top-content .photo .close-icon {
      pointer-events: none;
      display: block;
      z-index: 650px;
      position: absolute;
      right: 8px;
      top: 8px;
      font-family: 'Microsoft JhengHei UI Light';
      font-size: 40px;
      color: #FFF;
      opacity: 0;
      z-index: 20;
      -webkit-transition: opacity 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: opacity 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    #top-content .photo .pixaled-photo {
      z-index: 5; }
    #top-content .photo .rez-photo {
      display: block;
      z-index: 10;
      visibility: visible;
      opacity: 0;
      -webkit-transition: opacity 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: opacity 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    #top-content .photo:hover .rez-photo {
      opacity: 1; }
  #top-content .open {
    top: 40px !important;
    z-index: 600 !important; }
    #top-content .open .close-icon {
      opacity: 1;
      display: block;
      -webkit-transition-delay: 0.5s !important;
      -moz-transition-delay: 0.5s !important;
      -ms-transition-delay: 0.5s !important;
      transition-delay: 0.5s !important;
      -webkit-transition: opacity 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: opacity 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    #top-content .open:hover .close-icon {
      color: #F761B1; }
    #top-content .open .pixaled-photo, #top-content .open .expand-icon {
      opacity: 0; }
    #top-content .open .rez-photo {
      opacity: 1 !important;
      pointer-events: none; }
  #top-content #photo-1 {
    z-index: 300;
    left: 3655px;
    top: 150px;
    width: 410px;
    height: 275px; }
  #top-content #photo-2 {
    z-index: 300;
    left: 4050px;
    top: 25px;
    width: 300px;
    height: 401px; }
  #top-content #photo-3 {
    z-index: 300;
    left: 4338px;
    top: 155px;
    width: 356px;
    height: 240px; }
  #top-content #photo-4 {
    z-index: 310;
    left: 4654px;
    top: 95px;
    width: 316px;
    height: 226px; }
  #top-content #photo-5 {
    z-index: 320;
    left: 4930px;
    top: 132px;
    width: 396px;
    height: 266px; }
  #top-content #photo-6 {
    z-index: 300;
    left: 5276px;
    top: 40px;
    width: 450px;
    height: 272px; }
  #top-content #photo-7 {
    z-index: 310;
    left: 5690px;
    top: 148px;
    width: 410px;
    height: 272px; }
  #top-content #photo-8 {
    z-index: 300;
    left: 7236px;
    top: 52px;
    width: 396px;
    height: 282px; }
  #top-content #photo-9 {
    z-index: 310;
    left: 7641px;
    top: 158px;
    width: 289px;
    height: 226px; }
  #top-content #photo-9 {
    z-index: 310;
    left: 7635px;
    top: 158px;
    width: 309px;
    height: 226px; }
  #top-content #photo-10 {
    z-index: 305;
    left: 7948px;
    top: 87px;
    width: 326px;
    height: 226px; }
  #top-content #photo-11 {
    z-index: 304;
    left: 8038px;
    top: 187px;
    width: 410px;
    height: 272px; }
  #top-content #photo-12 {
    z-index: 305;
    left: 8468px;
    top: 126px;
    width: 410px;
    height: 272px; }
  #top-content #photo-13 {
    z-index: 305;
    left: 8800px;
    top: 55px;
    width: 410px;
    height: 272px; }
  #top-content #photo-14 {
    z-index: 305;
    left: 9223px;
    top: 112px;
    width: 400px;
    height: 312px; }
  #top-content #photo-15 {
    z-index: 300;
    left: 9632px;
    top: 41px;
    width: 300px;
    height: 412px; }

#signs {
  position: absolute;
  z-index: 400;
  bottom: 0px;
  left: 900px;
  height: 483px;
  transform: translate3d(0, 0, 0); }
  #signs img {
    position: absolute; }
  #signs #sign-1 {
    left: 3200px; }
  #signs #sign-2 {
    left: 7450px; }
  #signs #sign-3 {
    left: 13000px; }
  #signs #sign-4 {
    left: 16940px; }
#clouds {
  z-index: 200;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 5500px;
  transform: translate3d(0, 0, 0); }
  #clouds img {
    position: absolute; }
  #clouds #cloud-1 {
    left: 188px;
    top: 41px; }
  #clouds #cloud-2 {
    left: 1172px;
    top: 122px; }
  #clouds #cloud-3 {
    left: 1882px;
    top: 54px; }
  #clouds #cloud-4 {
    left: 3371px;
    top: 78px; }
  #clouds #cloud-5 {
    left: 4146px;
    top: 138px; }
  #clouds #cloud-6 {
    left: 4946px;
    top: 38px; }
  #clouds #cloud-7 {
    left: 5973px;
    top: 26px; }
  #clouds #cloud-8 {
    left: 7671px;
    top: 35px; }
  #clouds #cloud-9 {
    left: 8604px;
    top: 97px; }
  #clouds #cloud-10 {
    left: 9896px;
    top: 36px; }
  #clouds #cloud-11 {
    left: 10477px;
    top: 153px; }
  #clouds #cloud-12 {
    left: 11171px;
    top: 94px; }
  #clouds #cloud-13 {
    left: 11943px;
    top: 160px; }
  #clouds #cloud-14 {
    left: 13604px;
    top: 97px; }
  #clouds #cloud-15 {
    left: 14960px;
    top: 36px; }
  #clouds #cloud-16 {
    left: 15477px;
    top: 153px; }
  #clouds #cloud-17 {
    left: 16171px;
    top: 94px; }
  #clouds #cloud-18 {
    left: 16943px;
    top: 160px; }

#scroll-wrapper {
  position: absolute;
  top: 0px;
  z-index: 10;
  height: 0px;
  width: 12000px;
  height: 100%;
  -webkit-transform: translate(100%, 100%, 0);
  transform: translate(100%, 100%, 0); }
  #scroll-wrapper #sky {
    -webkit-backface-visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 6600px;
    height: 1024px;
    min-height: 75vh;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: scroll; }
  #scroll-wrapper #landscape {
    -webkit-backface-visibility: hidden;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px; }
    #scroll-wrapper #landscape img {
      position: absolute; }
    #scroll-wrapper #landscape #city {
      z-index: 11;
      bottom: 300px;
      left: 0px; }
    /*#scroll-wrapper #landscape #hood {
      z-index: 12;
      z-index: 20;
      bottom: 330px;
      left: 2500px; }
    #scroll-wrapper #landscape #bachelor {
      z-index: 20;
      bottom: 360px;
      left: 5001px; }
    #scroll-wrapper #landscape #bg-trees-1 {
      z-index: 10;
      bottom: 330px;
      left: 7501px; }
    #scroll-wrapper #landscape #bg-trees-2 {
      z-index: 11;
      bottom: 330px;
      left: 7325px; }
*/
#road {
  z-index: 50;
  position: absolute;
  left: 0px;
  bottom: 0px; }
  #road div, #road img {
    position: absolute; }
  #road #paved-road-1 {
    height: 423px;
    width: 2232px;
    left: -725px;
    bottom: 0px;
    -webkit-backface-visibility: hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  #road #paved-road-2 {
    -webkit-backface-visibility: hidden;
    height: 423px;
    width: 1500px;
    left: 1500px;
    bottom: 0px; }
  #road #dirt-road-1 {
    -webkit-backface-visibility: hidden;
    height: 420px;
    width: 4248px;
    left: 3000px;
    bottom: 0px; }
  #road #dirt-road-2 {
    height: 420px;
    width: 3517;
    left: 7246px;
    bottom: 0px;
    -webkit-backface-visibility: hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  #road #dirt-road-3 {
    height: 420px;
    width: 3517;
    left: 10763px;
    bottom: 0px;
    -webkit-backface-visibility: hidden; }
  #road #tv-video {
    left: 2700px;
    bottom: 240px; }
    #road #tv-video img {
      z-index: 750;
      pointer-events: none; }
    #road #tv-video #video-play {
      z-index: 700;
      position: absolute;
      width: 580px;
      height: 430px;
      top: 76px;
      left: 58px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      cursor: pointer;
      background: url("../images/static.gif");
      background-size: cover; }
      #road #tv-video #video-play img, #road #tv-video #video-play div {
        -webkit-transition: opacity 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transition: opacity 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
        pointer-events: none;
        opacity: 1; }
      #road #tv-video #video-play #vid-click-grabber {
        display: block;
        pointer-events: all;
        width: 100%;
        height: 100%;
        z-index: 700;
        background: #000;
        opacity: 0; }
      #road #tv-video #video-play #video-mini-ui {
        pointer-events: all;
        position: absolute;
        bottom: 66px;
        right: 145px;
        opacity: 0; }
        #road #tv-video #video-play #video-mini-ui #play-pause img {
          opacity: 0; }
        #road #tv-video #video-play #video-mini-ui #play-pause.paused #vid-play {
          opacity: 1; }
        #road #tv-video #video-play #video-mini-ui #vid-mute {
          cursor: pointer;
          pointer-events: all;
          display: block;
          left: 45px;
          width: 56px;
          height: 42px;
          z-index: 800;
          overflow: hidden;
          background: url("../images/sound.png"); }
          #road #tv-video #video-play #video-mini-ui #vid-mute.muted {
            width: 33px; }
      #road #tv-video #video-play #video-stop_img {
        width: 80px;
        height: 80px;
        background: #FFF;
        display: none;
        pointer-events: none; }
      #road #tv-video #video-play:hover img, #road #tv-video #video-play:hover div {
        opacity: 1; }
      #road #tv-video #video-play.playing {
        background: none; }
        #road #tv-video #video-play.playing #video-play_img {
          display: none; }
        #road #tv-video #video-play.playing #vid-pause {
          opacity: 1 !important; }
        #road #tv-video #video-play.playing:hover #video-mini-ui {
          opacity: 1; }
        #road #tv-video #video-play.playing #video-stop_img {
          display: block; }
      #road #tv-video #video-play.paused {
        background: none; }
        #road #tv-video #video-play.paused #video-play_img {
          display: none; }
        #road #tv-video #video-play.paused #video-mini-ui {
          opacity: 1; }
          #road #tv-video #video-play.paused #video-mini-ui #vid-play {
            opacity: 1 !important; }
    #road #tv-video #vid {
      position: absolute;
      width: 580px;
      z-index: 500;
      top: 76px;
      left: 58px; }
  #road #tv-game {
    left: 6153px;
    bottom: 370px;
    z-index: 300; }
    #road #tv-game #game-mute {
      pointer-events: all;
      cursor: pointer;
      display: block;
      left: 686px;
      top: 549px;
      width: 56px;
      height: 42px;
      z-index: 800;
      overflow: hidden;
      background: url("../images/sound.png");
      display: none; }
      #road #tv-game #game-mute.muted {
        width: 33px; }
    #road #tv-game #tv-2 {
      z-index: 600;
      pointer-events: none; }
  #road #barriers {
    z-index: 60;
    height: 79px;
    width: 3520px;
    bottom: 371px;
    -webkit-backface-visibility: hidden;
    background: url("../images/barrier.png"); }
  #road #far-trees {
    position: absolute;
    z-index: 60;
    left: 0px;
    bottom: 600px; }
    #road #far-trees img {
      position: absolute; }
    #road #far-trees #campfire {
      top: 165px;
      left: 5253px;
      width: 160px;
      height: 132px;
      background-position: 0px 0px;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      background: url("../images/campfire-sprite.png");
      -webkit-animation: play_fire 0.25s steps(3) infinite;
      animation: play_fire 0.25s steps(3) infinite; }
@-webkit-keyframes play_fire {
  from {
    background-position: 0px; }
  to {
    background-position: 480px; } }
@keyframes play_fire {
  from {
    background-position: 0px; }
  to {
    background-position: 480px; } }
    #road #far-trees #tent {
      top: 85px;
      left: 4893px; }
    #road #far-trees #car-1 {
      left: 7301px;
      top: 173px;
      z-index: 70; }
    #road #far-trees #minibike-guy {
      left: 8517px;
      top: 104px;
      z-index: 70; }
    #road #far-trees #log {
      left: 9039px;
      top: 200px;
      z-index: 70; }
    #road #far-trees #car-2 {
      left: 10484px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #tent-2 {
      left: 10661px;
      top: 145px;
      z-index: 71; }
    #road #far-trees #tree-g-1 {
      left: 10818px;
      z-index: 60; }
    #road #far-trees #tree-g-2 {
      left: 10898px;
      z-index: 60; }
    #road #far-trees #tree-g-3 {
      left: 11404px;
      z-index: 60; }
    #road #far-trees #tree-g-4 {
      left: 11469px;
      z-index: 62;
      top: 15px; }
    #road #far-trees #car-3 {
      left: 10900px;
      top: 67px;
      z-index: 70; }
    #road #far-trees #tent-3 {
      left: 11234px;
      top: 112px;
      z-index: 71; }
    #road #far-trees #car-4 {
      left: 11570px;
      top: 116px;
      z-index: 70; }
    #road #far-trees #car-5 {
      left: 11791px;
      top: 72px;
      z-index: 72; }
    #road #far-trees #car-6 {
      left: 12052px;
      top: 133px;
      z-index: 73; }
    #road #far-trees #person-1 {
      left: 12290px;
      top: 112px;
      z-index: 80; }
    #road #far-trees #person-2 {
      left: 12422px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #person-3 {
      left: 12497px;
      top: 144px;
      z-index: 80; }
    #road #far-trees #person-4 {
      left: 12547px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #person-5 {
      left: 12613px;
      top: 117px;
      z-index: 70; }
    #road #far-trees #person-6 {
      left: 12687px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #person-7 {
      left: 12801px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #person-8 {
      left: 12919px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #person-9 {
      left: 12995px;
      top: 112px;
      z-index: 70; }
    #road #far-trees #person-10 {
      left: 13130px;
      top: 112px;
      z-index: 70; }

    #road #far-trees #stage {
      left: 12460px;
      top: -290px;
      z-index: 60; }
    #road #far-trees #padding-cover {
      position: absolute;
      z-index: 100;
      width: 120vw;
      height: 120vh;
      display: block;
      top: -40vw;
      background: #000;
      left: 13310px; }
    #road #far-trees #tree-1 {
      left: 3380px; }
    #road #far-trees #tree-2 {
      left: 3486px; }
    #road #far-trees #tree-3 {
      left: 3584px; }
    #road #far-trees #tree-4 {
      left: 3692px; }
    #road #far-trees #tree-5 {
      left: 3810px; }
    #road #far-trees #tree-6 {
      left: 3882px; }
    #road #far-trees #tree-7 {
      left: 3988px; }
    #road #far-trees #tree-8 {
      left: 4080px; }
    #road #far-trees #bush-1 {
      left: 4192px;
      top: 170px; }
    #road #far-trees #tree-9 {
      left: 4395px; }
    #road #far-trees #tree-10 {
      left: 4493px; }
    #road #far-trees #tree-11 {
      left: 4565px; }
    #road #far-trees #tree-12 {
      left: 4656px; }
    #road #far-trees #tree-13 {
      left: 4749px; }
    #road #far-trees #tree-14 {
      left: 5486px; }
    #road #far-trees #tree-15 {
      left: 5584px; }
    #road #far-trees #tree-16 {
      left: 5656px; }
    #road #far-trees #tree-17 {
      left: 5747px; }
    #road #far-trees #tree-18 {
      left: 5840px; }
    #road #far-trees #tree-19 {
      left: 7155px; }
    #road #far-trees #tree-20 {
      left: 7253px; }
    #road #far-trees #tree-21 {
      left: 7325px; }
    #road #far-trees #tree-22 {
      left: 7416px; }
    #road #far-trees #tree-23 {
      left: 7509px; }
    #road #far-trees #tree-24 {
      left: 7596px; }
    #road #far-trees #tree-25 {
      left: 7694px; }
    #road #far-trees #bush-2 {
      left: 7743px;
      top: 170px; }
    #road #far-trees #bush-3 {
      left: 7845px;
      top: 160px; }
    #road #far-trees #tree-26 {
      left: 7950px; }
    #road #far-trees #tree-27 {
      left: 8021px; }
    #road #far-trees #tree-28 {
      left: 8119px; }
    #road #far-trees #tree-29 {
      left: 8191px; }
    #road #far-trees #tree-30 {
      left: 8282px; }
    #road #far-trees #tree-31 {
      left: 8375px; }
    #road #far-trees #tree-32 {
      left: 8462px; }
    #road #far-trees #tree-33 {
      left: 8556px; }
    #road #far-trees #tree-34 {
      left: 8723px; }
    #road #far-trees #tree-35 {
      left: 8816px; }
    #road #far-trees #tree-36 {
      left: 8887px; }
    #road #far-trees #tree-37 {
      left: 8985px; }
    #road #far-trees #tree-37 {
      left: 8985px; }
    #road #far-trees #tree-38 {
      left: 9057px; }
    #road #far-trees #tree-39 {
      left: 9148px; }
    #road #far-trees #tree-40 {
      left: 9241px; }
    #road #far-trees #tree-41 {
      left: 9328px; }
    #road #far-trees #tree-42 {
      left: 9426px; }
    #road #far-trees #tree-43 {
      left: 9498px; }
    #road #far-trees #bush-4 {
      left: 9614px;
      top: 170px; }
    #road #far-trees #tree-44 {
      left: 9753px; }
    #road #far-trees #tree-45 {
      left: 9851px; }
    #road #far-trees #tree-46 {
      left: 9923px; }
    #road #far-trees #tree-47 {
      left: 10014px; }
    #road #far-trees #tree-48 {
      left: 11107px; }
    #road #far-trees #tree-49 {
      left: 11194px; }
    #road #far-trees #tree-50 {
      left: 11292px; }
    #road #far-trees #tree-51 {
      left: 11664px; }
    #road #far-trees #tree-52 {
      left: 11755px; }

#modal-close {
  display: none;
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  top: 80px;
  left: 695px;
  z-index: 625;
  color: #BE1A71;
  font-family: 'Microsoft JhengHei UI Light'; }
  #modal-close:hover {
    color: #FFF; }

#racer {
  position: absolute;
  z-index: 200;
  width: 625px;
  height: 500px;
  top: 86px;
  left: 80px; }
  #racer #game_text {
    pointer-events: none;
    position: absolute;
    z-index: 500;
    color: white;
    display: flex;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Microsoft JhengHei UI Light';
    font-size: 40px;
    opacity: 0; }
    #racer #game_text #game_go {
      opacity: 0;
      font-size: 200px; }
    #racer #game_text #game_go.flash {
      -webkit-animation-fill-mode: forwards;
      /* Safari 4.0 - 8.0 */
      animation-fill-mode: forwards;
      -webkit-animation-name: go_flash;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 0.5s;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-delay: 0s;
      /* Safari 4.0 - 8.0 */
      animation-name: go_flash;
      animation-duration: 0.5s;
      animation-delay: 0s;
      -webkit-animation-animation-iteration-count: 3;
      animation-iteration-count: 3; }
    #racer #game_text #game_checkpoint {
      margin: 0;
      opacity: 0; }
    #racer #game_text .game_trash {
      -webkit-animation-fill-mode: forwards;
      /* Safari 4.0 - 8.0 */
      animation-fill-mode: forwards;
      -webkit-animation-name: go_up;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1.5s;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-delay: 0s;
      /* Safari 4.0 - 8.0 */
      animation-name: go_up;
      animation-duration: 1.5s;
      animation-delay: 0s;
      -webkit-animation-animation-iteration-count: 1;
      animation-iteration-count: 1; }
    #racer #game_text #game_checkpoint.flash {
      -webkit-animation-fill-mode: forwards;
      /* Safari 4.0 - 8.0 */
      animation-fill-mode: forwards;
      -webkit-animation-name: go_up;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1.5s;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-delay: 0s;
      /* Safari 4.0 - 8.0 */
      animation-name: go_up;
      animation-duration: 1.5s;
      animation-delay: 0s;
      -webkit-animation-animation-iteration-count: 1;
      animation-iteration-count: 1; }
@-webkit-keyframes go_flash {
  0% {
    opacity: 0;
    display: block; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes go_flash {
  0% {
    opacity: 0;
    display: block; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes go_up {
  0% {
    opacity: 0;
    display: block; }
  50% {
    opacity: 1;
    margin-top: -60px; }
  80% {
    opacity: 1;
    margin-top: -60px; }
  100% {
    opacity: 0; } }
@keyframes go_up {
  0% {
    opacity: 0;
    display: block; }
  50% {
    opacity: 1;
    margin-top: -60px; }
  80% {
    opacity: 1;
    margin-top: -60px; }
  100% {
    opacity: 0; } }
  #racer #mute_hoder {
    width: 100vw;
    padding-top: 0px;
    margin: 0 auto;
    pointer: cursor;
    max-width: 1440px;
    z-index: 200; }
    #racer #mute_hoder #mute {
      position: relative;
      margin-top: -60px;
      margin-right: 20px;
      background-position: 0px 0px;
      width: 32px;
      height: 32px;
      background: url(../images/game_sprites/mute.png);
      display: inline-block;
      cursor: pointer;
      float: right;
      display: none; }
    #racer #mute_hoder #mute.on {
      background-position: -32px 0px; }

#canvas {
  position: relative;
  display: block;
  z-index: 0;
  margin: 0px auto;
  width: 100vw;
  width: 625px;
  height: 500px;
  z-index: 100;
  background-color: #000;
  top: 0px;
  left: 0px; }

/**************************************************/
/* rudimentary heads up display (only used in v4) */
/**************************************************/
#hud {
  pointer-events: none;
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  width: 100%;
  margin: 0px auto;
  max-width: 1440px;
  font-size: 0.5em;
  color: white;
  font-family: "VCR_OSD_MONO_1";
  opacity: 1; }

#hud #points {
  display: block;
  width: 8em;
  text-align: center; }

#hud .value {
  color: white;
  font-weight: bold; }

.game-info {
  position: absolute;
  z-index: 500;
  display: block;
  width: 625px;
  height: 500px;
  top: 86px;
  left: 80px; }

.modal {
  position: absolute;
  z-index: 250;
  width: 625px;
  height: 500px;
  top: 0px;
  left: 0px;
  background-color: #000;
  font-family: "sabofilled";
  color: #FFF;
  font-size: 18px;
  padding: 10px; }
  .modal h1 {
    color: #F761B1;
    font-size: 30px; }
  .modal h2 {
    font-size: 18px; }
  .modal .modal-header {
    display: block;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    padding: 0 20px; }
  .modal div, .modal img {
    position: relative !important; }

.score-list {
  width: 80%;
  display: block;
  margin: 20px auto;
  text-align: center; }
  .score-list .score {
    color: #F761B1; }

.game-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 65px; }
  .game-links a {
    cursor: pointer;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    background: tranparent;
    align-items: center;
    border: 5px solid #F761B1;
    border-radius: 15px;
    padding: 10px 35px;
    margin: 0 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "sabofilled";
    font-size: 22px;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #FFF; }
    .game-links a:hover {
      background: #F761B1; }
  .game-links a .icon {
    display: none; }

#game-high-score {
  z-index: 300;
  display: none; }
  #game-high-score h2 {
    color: #BE1A71;
    margin-bottom: -5px; }
  #game-high-score span {
    color: #FFF; }

#game-tutorial {
  z-index: 300;
  display: none; }
  #game-tutorial h2 {
    font-size: 14px; }
  #game-tutorial .item {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
    padding: 13px;
    text-align: center;
    font-size: 14px;
    margin-top: -9px;
    padding-bottom: 25px; }
    #game-tutorial .item img {
      position: relative;
      display: block;
      margin-right: 20px; }
  #game-tutorial #instuctions-text {
    text-align: center;
    display: block; }
  #game-tutorial #obstacles-t {
    margin-top: -45px; }
  #game-tutorial .tutorial-arrows {
    height: 60px; }
  #game-tutorial .tutorial-obsticles, #game-tutorial .tutorial-trash {
    height: 90px; }
  #game-tutorial .tutorial-trash {
    margin-top: -20px; }

#game-end-game {
  display: none; }

#game-race-finished {
  display: none; }
  #game-race-finished .game-form {
    width: 60%;
    margin: 40px auto; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      #game-race-finished .game-form select,
      #game-race-finished .game-form textarea,
      #game-race-finished .game-form input {
        font-size: 16px; } }
    #game-race-finished .game-form .fields {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 560px;
      margin: 0 auto 40px auto; }
    #game-race-finished .game-form .field {
      border: 8px solid #BE1A71;
      background: #BE1A71;
      border-radius: 10px;
      height: 80px;
      width: 80px; }
    #game-race-finished .game-form input {
      appearance: none;
      background: white;
      border: 8px solid white;
      outline: none;
      border-radius: 5px;
      text-align: center;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      font-family: "sabofilled";
      font-size: 42px;
      color: #BE1A71;
      text-transform: uppercase; }
    #game-race-finished .game-form button {
      display: block;
      border-color: #BE1A71;
      transition: background .3s ease;
      -webkit-transition: background .3s ease;
      cursor: pointer;
      align-items: center;
      border: 5px solid #F761B1;
      border-radius: 15px;
      padding: 10px 35px;
      margin: 0 auto;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: "sabofilled";
      font-size: 22px;
      text-align: center;
      outline: none;
      text-decoration: none;
      color: #FFF;
      background: none; }
      #game-race-finished .game-form button:hover {
        background: #BE1A71; }

.game-controls {
  position: absolute;
  z-index: 200;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 625px;
  height: 500px; }
  .game-controls a {
    cursor: pointer;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    background: rgba(0, 118, 205, 0.5);
    align-items: center;
    border: 5px solid #F761B1;
    border-radius: 15px;
    padding: 10px 35px;
    margin: 0 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "sabofilled";
    font-size: 22px;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #FFF; }
    .game-controls a:hover {
      background: #F761B1; }
  .game-controls a .icon {
    display: none; }

#end-stats-wrapper {
  display: block;
  position: absolute;
  top: 0px;
  left: 13230px;
  width: 100vw;
  height: auto;
  background-color: #000;
  z-index: 450; }
  #end-stats-wrapper #end-stats {
    width: 80vw;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Microsoft JhengHei UI Light';
    color: #FFF;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px; }
    #end-stats-wrapper #end-stats #stats-intro {
      max-width: 1500px;
      display: flex;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    #end-stats-wrapper #end-stats #stats-arrow {
      padding: 100px 0px; }
    #end-stats-wrapper #end-stats p {
      text-align: center; }
    #end-stats-wrapper #end-stats h2 {
      padding: 10px 0px;
      color: #BE1A71;
      text-align: center;
      line-height: 60px; }
    #end-stats-wrapper #end-stats li {
      text-align: center;
      width: 100%;
      line-height: 36px;
      list-style: none;
      padding-bottom: 25px; }
    #end-stats-wrapper #end-stats .stats {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 100px; }
      #end-stats-wrapper #end-stats .stats h2 {
        text-align: center;
        width: 100%; }
      #end-stats-wrapper #end-stats .stats .stat {
        display: flex;
        flex-basis: 50%;
        min-width: 425px;
        text-align: center;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 20px; }
        #end-stats-wrapper #end-stats .stats .stat h3 {
          font-size: 25px;
          color: #9BD6E0;
          margin-bottom: 0px; }
        #end-stats-wrapper #end-stats .stats .stat p {
          margin-top: 0px;
          font-size: 20;
          color: #FFF; }
      #end-stats-wrapper #end-stats .stats hr {
        border: none;
        border-top: 2px dashed #BE1A71;
        width: 50%; }
        #end-stats-wrapper #end-stats .stats hr.second-to-last {
          opacity: 0; }
          @media all and (max-width: 1062px) {
            #end-stats-wrapper #end-stats .stats hr.second-to-last {
              opacity: 1; } }
 /*#end-stats-wrapper #end-stats .stats {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 100px; }
      #end-stats-wrapper #end-stats .stats h2 {
        text-align: center;
        width: 100%; }
      #end-stats-wrapper #end-stats .stats .stat {
        display: flex;
        flex-basis: 50%;
        min-width: 425px;
        text-align: center;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 20px; }
        #end-stats-wrapper #end-stats .stats .stat h3 {
          font-size: 25px;
          color: #9BD6E0;
          margin-bottom: 0px; }
        #end-stats-wrapper #end-stats .stats .stat p {
          margin-top: 0px;
          font-size: 20;
          color: #FFF; }
      #end-stats-wrapper #end-stats .stats hr {
        border: none;
        border-top: 2px dashed #BE1A71;
        width: 50%; }
              */
 /*   #end-stats-wrapper #end-stats #the-end {
      max-width: 800px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      position: relative;
      justify-content: center; }
      #end-stats-wrapper #end-stats #the-end #stats-thanks {
        padding-top: 300px;
        padding-bottom: 100px; }
      #end-stats-wrapper #end-stats #the-end #share-popup {
        width: 100%;
        position: absolute;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        border: 11px #BE1A71 solid;
        border-radius: 25px;
        background: #000;
        display: none; }*/
        #end-stats-wrapper #end-stats #the-end #share-popup #popup-close {
          position: absolute;
          right: 15px;
          top: 10px; }
          #end-stats-wrapper #end-stats #the-end #share-popup #popup-close:hover {
            color: #F761B1; }
        #end-stats-wrapper #end-stats #the-end #share-popup h4 {
          width: 100%;
          color: #FFF;
          text-align: center; }
        /*#end-stats-wrapper #end-stats #the-end #share-popup #popup-btns {
          display: block;
          margin: 0px auto; }
          #end-stats-wrapper #end-stats #the-end #share-popup #popup-btns a {
            text-decoration: none; }
            #end-stats-wrapper #end-stats #the-end #share-popup #popup-btns a:hover .share_color {
              fill: #F761B1; }*/
        #end-stats-wrapper #end-stats #the-end #share-popup #copy-url {
          z-index: 900;
          font-size: 16px;
          display: flex;
          margin: 40px auto;
          justify-content: center;
          cursor: pointer; }
          #end-stats-wrapper #end-stats #the-end #share-popup #copy-url ::selection {
            background: #FF0099;
            color: black;
            text-shadow: none; }
          #end-stats-wrapper #end-stats #the-end #share-popup #copy-url ::-moz-selection {
            background: #FF0099;
            color: #EEE;
            text-shadow: none; }
          #end-stats-wrapper #end-stats #the-end #share-popup #copy-url #copy-btn {
            display: inline-block;
            margin: 40px auto;
            padding: 20px 40px;
            color: #FFF;
            background-color: #BE1A71;
            margin: 0px; }
      
         /* #end-stats-wrapper #end-stats #the-end #share-popup #copy-url #url-box {
            pointer-events: all;
            margin: 0px;
            display: inline-block;
            color: #000;
            background-color: #FFF;
            padding: 20px 40px;
            -webkit-user-select: text;
            -khtml-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text; }
          #end-stats-wrapper #end-stats #the-end #share-popup #copy-url:hover #copy-btn {
            background-color: #F761B1; }
      #end-stats-wrapper #end-stats #the-end #end-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 50px 0px; }
        #end-stats-wrapper #end-stats #the-end #end-btns a {
          cursor: pointer;
          display: block;
          width: 378px;
          height: 66px;
          line-height: 67px;
          text-transfor: uppercase;
          color: #FFF;
          margin: 20 auto;
          text-align: center;
          background-color: #BE1A71;
          -webkit-transition: color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          #end-stats-wrapper #end-stats #the-end #end-btns a:hover {
            background-color: #F761B1; }
      #end-stats-wrapper #end-stats #the-end #rh-made {
        width: 93px;
        margin: 0 auto;
        margin-top: 100px; }*/
